@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700&family=Poppins:wght@100;300;400;500;600&display=swap");
.navbar {
  background-color: #1E90FF;
}

.navbar .container-fluid
.logo {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 991px) {
  .navbar .container-fluid
.logo {
    font-size: 1.5rem;
  }
}

.navbar .container-fluid
.logo i {
  color: #FFD700;
  padding-right: 1.7rem;
}

.navbar .nav-item a {
  color: #fff;
  font-size: 1.2rem;
}

@media (max-width: 991px) {
  .navbar .nav-item a {
    font-size: .9rem;
  }
}

.navbar .nav-item a:hover {
  color: #FFD700;
}

footer {
  background-color: #1E90FF;
}

footer .logo i {
  font-size: 6rem;
  color: #FFD700;
}

footer .footer-p {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

footer .footer__links a {
  color: #fff;
}

footer .footer__links a:hover {
  color: #FFD700;
  padding-left: 1.5rem;
}

@media (max-width: 576px) {
  footer {
    text-align: center;
  }
}

.banner {
  margin: 0 auto;
  margin-top: .5rem;
  width: 90%;
  border-radius: 1rem;
  background: url(/assets/images/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .content {
  text-align: center;
}

.banner .content span {
  font-weight: bold;
  color: #FFD700;
  font-size: 3rem;
  display: block;
}

.banner .content h3 {
  font-size: 4rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
}

.banner .content .btn {
  color: #fff;
}

@media (max-width: 768px) {
  .banner .content span {
    font-size: 2.5rem;
  }
  .banner .content h3 {
    font-size: 3.2rem;
  }
}

.banner-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: #111;
  border-radius: .7rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;
}

@media (max-width: 991px) {
  .banner-form {
    padding: 2rem 1rem;
  }
}

.banner-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .3rem;
}

.banner-form form .inputBox {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
}

.banner-form form .inputBox span {
  font-size: 1rem;
  color: #1E90FF;
}

.banner-form form .inputBox input {
  width: 100%;
  padding: .7rem .3rem;
  border-radius: 5rem;
  border: 0.2rem solid #1E90FF;
  font-size: 1.2rem;
  color: #1E90FF;
  text-transform: none;
  background: none;
  margin-top: 1rem;
}

.banner-form form .inputBox input::-webkit-input-placeholder {
  color: #FFD700;
}

.banner-form form .inputBox input:-ms-input-placeholder {
  color: #FFD700;
}

.banner-form form .inputBox input::-ms-input-placeholder {
  color: #FFD700;
}

.banner-form form .inputBox input::placeholder {
  color: #FFD700;
}

.banner-form form .btn {
  padding: .6rem .9rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 .2rem;
          flex: 1 1 .2rem;
  color: #FFD700;
}

.publicidad {
  cursor: pointer;
  margin-top: 4rem;
  margin-bottom: 3.5rem;
}

.heading {
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.heading h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #F79F1F;
}

.heading span {
  font-size: 2rem;
  position: relative;
  color: #111;
  z-index: 0;
}

.heading span::before {
  content: '';
  position: absolute;
  z-index: -1;
  background: #FFD700;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 90%, 100% 85%, 100% 100%, 100% 100%);
          clip-path: polygon(0 90%, 100% 85%, 100% 100%, 100% 100%);
}

.destinos {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 2.5rem;
}

.destinos h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
  color: #444;
}

@media (max-width: 768px) {
  .destinos h2 {
    font-size: 2.8rem;
  }
}

.destinos .destinos__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .destinos .destinos__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
}

.destinos .destinos__cards .margin {
  margin-bottom: 3.5rem;
}

.destinos .destinos__cards .destinos__card {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  border-radius: 1rem;
  text-align: center;
  background: #fff;
  overflow: hidden;
  padding-bottom: 1rem;
  cursor: pointer;
}

.destinos .destinos__cards .destinos__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
}

.destinos .destinos__cards .destinos__card .imagen {
  height: 15rem;
  overflow: hidden;
  width: 100%;
}

.destinos .destinos__cards .destinos__card .imagen img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.destinos .destinos__cards h3 {
  padding-top: .6rem;
  font-size: 1.5rem;
  color: #1E90FF;
}

.destinos .destinos__cards p {
  font-size: 1rem;
  color: #444;
}

@media (max-width: 991px) {
  .destinos .destinos__cards {
    padding-bottom: .1rem;
  }
  .destinos .destinos__cards p {
    font-size: .9rem;
  }
  .destinos .destinos__cards .btn {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .destinos .destinos__cards {
    gap: 2rem;
    text-align: center;
  }
  .destinos .destinos__cards h3 {
    font-size: 2rem;
  }
  .destinos .destinos__cards p {
    font-size: 1rem;
  }
}

.paquetes h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
  color: #666;
}

.paquetes .box-container {
  width: 90%;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3rem;
}

@media (max-width: 768px) {
  .paquetes .box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
}

.paquetes .box-container .box {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  border-radius: .5rem;
  text-align: center;
  background: #fff;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
  cursor: pointer;
}

.paquetes .box-container .box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
}

.paquetes .box-container .box .imagen {
  height: 17rem;
  overflow: hidden;
  width: 100%;
  padding: 1rem;
  position: relative;
}

@media (max-width: 991px) {
  .paquetes .box-container .box .imagen {
    height: 15rem;
  }
}

.paquetes .box-container .box .imagen img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.paquetes .box-container .box h3 {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  font-weight: lighter;
  padding: .5rem 1.5rem;
  font-size: 1.7rem;
}

.paquetes .box-container .box h3 i {
  color: #F79F1F;
}

.paquetes .box-container .box h4 {
  color: #1E90FF;
}

.paquetes .box-container .box p {
  color: #444;
}

.section h2 {
  color: #666;
  text-align: center;
  margin-bottom: .5rem;
}

.section .section__cards {
  width: 95%;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3rem;
  gap: 1.5rem;
}

.section .section__cards .section__card {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  border-radius: .5rem;
  text-align: center;
  background: #fff;
  padding: 1.5rem 1rem 0 1rem;
  margin-bottom: 5rem;
  cursor: pointer;
}

@media (max-width: 991px) {
  .section .section__cards .section__card {
    margin-bottom: 0;
  }
}

.section .section__cards .section__card:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
}

.section .section__cards .section__card h3 {
  color: #1E90FF;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section .section__cards .section__card p {
  color: #444;
  text-align: center;
  font-size: .9rem;
}

@media (max-width: 991px) {
  .section .section__cards {
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section .section__cards .bottom {
    margin-bottom: 2rem;
  }
}

.servicios h2 {
  text-align: center;
  color: #666;
  margin-bottom: 3rem;
}

.servicios .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(10rem, auto);
}

@media (max-width: 768px) {
  .servicios .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .servicios .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
}

.servicios .container .box {
  border-radius: 1rem;
  text-align: center;
  background: #fff;
  border: .2rem solid black;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}

.servicios .container .box:hover {
  background: #1E90FF;
  border: 0.2rem solid #F79F1F;
}

.servicios .container .box:hover i {
  color: #FFD700;
}

.servicios .container .box:hover h3 {
  color: #FFD700;
}

.servicios .container .box:hover p {
  color: #111;
}

.servicios .container .box i {
  font-size: 2.5rem;
  color: #F79F1F;
  margin-bottom: 2rem;
}

.servicios .container .box h3 {
  font-size: 1.5rem;
  color: #1E90FF;
}

.servicios .container .box p {
  font-size: .9rem;
  color: #444;
}

.descuento {
  height: 17rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0.5)), color-stop(50%, transparent), to(transparent)), url(/assets/images/cupon.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, transparent 50%, transparent 100%), url(/assets/images/cupon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 3rem;
  cursor: pointer;
}

.descuento:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
}

@media (max-width: 768px) {
  .descuento {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/assets/images/cupon.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(/assets/images/cupon.jpg);
  }
}

.descuento .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 17rem;
  color: white;
}

@media (max-width: 576px) {
  .descuento .contenido {
    text-align: center;
  }
}

.descuento .contenido h3 {
  font-size: 3rem;
  color: #15B9D5;
}

@media (max-width: 576px) {
  .descuento .contenido h3 {
    font-size: 2rem;
  }
}

.descuento .contenido p {
  line-height: .8;
}

.descuento .contenido p.titulo {
  font-size: 2.4rem;
}

.descuento .contenido p.precio {
  color: #15B9D5;
  font-size: 3rem;
}

@media (max-width: 576px) {
  .descuento .contenido p.titulo {
    font-size: 1.4rem;
  }
  .descuento .contenido p.fecha {
    line-height: 1.5;
  }
  .descuento .contenido p.precio {
    font-size: 2rem;
  }
}

.width-btn {
  width: 100%;
}

.container h2 {
  margin-top: 5rem;
}

.testimoniales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.testimoniales .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  margin-left: 2rem;
  text-align: center;
}

.testimoniales .content span {
  font-size: 1.5rem;
  color: #1E90FF;
}

.testimoniales .content h3 {
  font-size: 2.5rem;
  color: #666;
}

.testimoniales .content p {
  font-size: 1rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.testimoniales .box-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .5rem;
}

.testimoniales .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  border-radius: 1rem;
  padding: .5rem;
  background-color: white;
  border: .2rem solid black;
  margin-right: 2rem;
}

@media (max-width: 991px) {
  .testimoniales .box-container .box {
    margin-left: 2rem;
  }
}

.testimoniales .box-container .box:hover {
  border: 0.2rem solid #F79F1F;
  background: #1E90FF;
}

.testimoniales .box-container .box:hover p {
  color: #111;
}

.testimoniales .box-container .box:hover h3 {
  color: #FFD700;
}

.testimoniales .box-container .box p {
  font-size: 1rem;
  padding-bottom: 1rem;
  color: #444;
  text-align: center;
}

.testimoniales .box-container .box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.testimoniales .box-container .box h3 {
  font-size: 1rem;
  color: black;
}

.review {
  display: -ms-grid;
  display: grid;
  margin-top: 0;
  margin: 0 auto;
  width: 90%;
}

@media (max-width: 576px) {
  .review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .review .content_review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: start;
    margin: 0 auto;
  }
  .review .content_review span {
    font-size: 2.5rem;
  }
  .review .content_review h3 {
    font-size: 1rem;
  }
  .review .content_review p {
    font-size: .8rem;
  }
}

.review .content_review span {
  font-size: 4rem;
}

.review .content_review h3 {
  font-size: 1.5rem;
}

.review .content_review p {
  font-size: 1rem;
}

.review .box-container .box {
  padding: 2rem;
  margin-bottom: 2rem;
}

.nosotros {
  width: 90%;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .nosotros {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .nosotros {
    width: 90%;
    margin: auto;
  }
}

.nosotros .nosotros__content {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

@media (max-width: 991px) {
  .nosotros .nosotros__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nosotros .nosotros__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nosotros .nosotros__content img {
  width: 50%;
}

@media (max-width: 991px) {
  .nosotros .nosotros__content img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nosotros .nosotros__content img {
    width: 100%;
  }
}

.nosotros .nosotros__content .nosotros__text {
  line-height: 25px;
  max-width: 500px;
}

.nosotros .nosotros__content .nosotros__text h2 {
  color: #666;
}

.nosotros .nosotros__content .nosotros__text p {
  color: #444;
}

@media (max-width: 991px) {
  .nosotros .nosotros__content .nosotros__text {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .nosotros .nosotros__content .nosotros__text {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .nosotros .nosotros__content .nosotros__text h2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .nosotros .nosotros__content .nosotros__text h2 {
    margin-bottom: 15px;
  }
}

.iconos {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #D1F2EB;
  margin: 60px 15px;
}

@media (max-width: 991px) {
  .iconos {
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  .iconos {
    padding-top: 50px;
  }
}

.iconos .iconos__cards {
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .iconos .iconos__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .iconos .iconos__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.iconos .iconos__cards .iconos__card {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
}

.iconos .iconos__cards .iconos__card img {
  width: 40%;
  border-radius: 10px;
  margin-bottom: 50px;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #1E90FF;
}

body {
  background: #eee;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  color: #111;
  border: 0.2rem solid #1E90FF;
  border-radius: 2.5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #1E90FF;
  color: #FFD700;
}
/*# sourceMappingURL=styles.css.map */