
h1,h2,h3 {
    font-family: 'Mulish', sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #1E90FF;
}
.nav-item a {
    color: #fff;
}
.nav-item a:hover {
    color:#FFD700;
}

.banner {
    position: relative;
}
.banner__bg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner__img {
    width: 100%;
}
.banner__content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner__content h2 {
    position: relative;
    color: #fff;
    font-size: 100px;
}
.banner__btn {
    display: inline-block;
    font-size: 25px;
    margin-top: 20px;
    padding: 20px 40px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}  
.banner__btn:hover {
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
    transition: 1s;
}
.destinos {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.destinos__cards {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.destinos__card {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding: 10px;
    transition: 1s;
}
.destinos__card:hover {
    background-color: #D1F2EB;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.destinos__card img {
    width: 100%;
    border-radius: 10px;
}
.destinos__card h3 {
    margin: 5px 0px 5px 0px;
}
.destinos__card p {
    margin: 5px 0px 5px 0px;
    line-height: 20px;
}
/* FOOTER */
footer {
    background-color: #1E90FF;
} 
.footer__links a {
    color: #fff;
}  
.footer__links a:hover{
    color: #FFD700;
}
.paquetes {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.paquetes__cards {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.paquetes__card {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    border:  2px;
    padding: 0px 5px 25px 5px;
    background: #EAECEE;
}
.paquetes__card:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.paquetes__card img {
    width: 100%;
    border-radius: 10px;
}
.paquetes__card h3 {
    margin: 5px 0px 5px 0px;
}
.paquetes__card p {
    margin: 5px 0px 5px 0px;
    line-height: 20px;
}
.testimoniales {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.testimoniales__cards {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimoniales__card {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    transition: 0.5s;
}
.testimoniales__card h3 {
    margin-top: 15px;
}
.testimoniales__card:hover {
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.nosotros {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
}
.nosotros__content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 35px;
}
.nosotros__content img {
    width: 50%;
}
.nosotros__text {
    line-height: 25px;
}
.iconos{
    text-align: center;
    display: flex;
    background: #D1F2EB;
    margin: 60px 15px;
}
.iconos__cards {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.iconos__card {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.iconos__card img {
    width: 40%;
    border-radius: 10px;
    margin-bottom: 50px;
}

/* Media Queries */
@media (max-width: 880px) {
    .banner__btn {
        font-size: 30px;
        padding: 25px;
    }
    .banner__content h2 {
        font-size: 60px;
    }
    .destinos {
        padding-top: 50px;
    }
    .destinos__cards{
        flex-direction: column;
    }
    .paquetes {
        padding-top: 50px;
        margin-top: 60px;
    }
    .paquetes__cards{
        flex-direction: column;
    }
    .nosotros {
        width: 90%;
        margin: auto;
    }
    .nosotros__content {
        display: flex;
        flex-direction: column;
    }
    .nosotros__content img {
        width: 100%;
    }
    .nosotros__text {
        text-align: center;
    }
    .nosotros__text h2 {
        margin-bottom: 15px;
    }
    .iconos{
        padding-top: 50px;
    }
    .iconos__cards {
        flex-direction: column;
    }
}

@media(max-width: 515px) {
    .banner__btn {
        font-size: 10px;
        padding: 10px;
    }
    .banner__content h2 {
        font-size: 25px;
        text-align: center;
    }
    .destinos {
        padding-top: 50px;
    }
    .destinos__cards{
        flex-direction: column;
    }
    .paquetes {
        padding-top: 50px;
    }
    .paquetes__cards{
        flex-direction: column;
    }
    .nosotros {
        width: 90%;
        margin: auto;
    }
    .nosotros__content {
        display: flex;
        flex-direction: column;
    }
    .nosotros__content img {
        width: 100%;
    }
    .nosotros__text {
        text-align: center;
    }
    .nosotros__text h2 {
        margin-bottom: 15px;
    }
    .iconos{
        padding-top: 50px;
    }
    .iconos__cards {
        flex-direction: column;
    }
    .testimoniales {
        padding-top: 50px;
    }
    .testimoniales__cards {
        flex-direction: column;
    }
    .testimoniales__card {
        text-align: center;
    }
}