@import './scss/colors';
@import './scss/media-queries';
@import './scss/banner';
@import './scss/destinos';
@import './scss/paquetes';
@import './scss/testimoniales';
@import './scss/nosotros';
@import './scss/iconos';

h1,h2,h3 {
    font-family: 'Mulish', sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: $mainColor;
    & p {
        display: inline-block;
        position: relative;
        top: 12px;
        margin-left: 20px;
        font-size: 40px;

        @include mobile {
            display: none;
        }
    }
    .nav-item a {
        color: $white;

        &:hover {
            color: $yellow;
        }
    }
}

/* FOOTER */
footer {
    background-color: $mainColor;

    .footer__links a {
        color: $white;

        &:hover{
            color: $yellow;
        }
    }
} 

/* FORM */
.width-btn {
    width: 100%;
}
