.navbar {
    background-color: $mainColor;
    .container-fluid 

    .logo {
        color: $white;
        font-size: 2rem;
        font-weight: bold;

        @include tablet {
            font-size: 1.5rem;
        }

        i {
            color: $yellow;
            padding-right: 1.7rem;
        }
    }

    .nav-item a {
        color: $white;
        font-size: 1.2rem;

        @include tablet {
            font-size: .9rem;
        }

        &:hover {
            color: $yellow;
        }
    }
}