.testimoniales {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;

    .content {
        flex: 1 1 25rem;
        margin-left: 2rem;
        text-align: center;

        span {
            font-size: 1.5rem;
            color: $mainColor;
        }

        h3 {
            font-size: 2.5rem;
            color: $h2;
        }

        p {
            font-size: 1rem;
            color: $text;
            padding: 1rem 0;
            line-height: 2;
        }
    }

    .box-container {
        flex: 1 1 25rem;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        .box {
            flex: 1 1 15rem;
            border-radius: 1rem;
            padding: .5rem;
            background-color: white;
            border: .2rem solid black;
            margin-right: 2rem; 

            @include tablet {
                margin-left: 2rem;
            }

            &:hover {
                border: .2rem solid $orange;
                background: $mainColor;

                p {
                    color: $black;
                }

                h3 {
                    color: $yellow;
                }
            }

            p {
                font-size: 1rem;
                padding-bottom: 1rem;
                color: $text;
                text-align: center;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            h3 {
                font-size: 1rem;
                color: black;
            }
        }
    }
}

.review {
    display: grid;
    margin-top: 0;
    margin: 0 auto;
    width: 90%;

    @include mobile_s {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .content_review {

        @include mobile_s {
            display: flex;
            flex-wrap: wrap;
            text-align: start;
            margin: 0 auto;
            
            span {
                font-size: 2.5rem;
            }

            h3 {
                font-size: 1rem;
            }

            p {
                font-size: .8rem;
            }
        }
        
        span {
            font-size: 4rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .box-container {
        .box {
            padding: 2rem;
            margin-bottom: 2rem;
        }
    }
}