$mainColor: #1E90FF;
$white: #fff;
$yellow: #FFD700;
$text:#444;
$h2: #666;
$bg: #eee;
$orange: #F79F1F;
$black: #111;
$black-bg: rgba(17,17,17,.7);
$box-shadow: 0 .5rem 1rem rgba(17, 17, 17, .3);


$border: .2rem solid $mainColor;